# Virtual environment
myvenv/

# Python compiled files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# chatbot_model
chatbot_model/